*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #212121;

}
.main_img{
    width: 100%;
}
.h22{
    background-color: aqua;
}


  /* Layout1 Section */
  .container{
    background-color: rgb(255, 226, 232);
    display: flex;
    border-top-left-radius: calc((100vw / 10) + 60px);
    margin: 40px;
    }
  
    .left-ele{
        width: 50%;
        float: left;
    }

    .left-ele .lay1-img{
        width: 100%;
        padding: 30px;
        border-top-left-radius: 120px;
    }

    .right-ele{
        width: 50%;
        padding: 52px;
    }
    .right-ele h2,p{
      color: rgb(5, 5, 5);
    }
  
    .right-ele h2,p,button{
        color: rgb(5, 5, 5);
        margin: 10px;
        margin-top: 10%;
      }

    .right-ele h2{
        font-family: 'Playfair Display', serif;
    } 
    .right-ele p{
        font-size: 20px;
    }
    .right-ele button{
      color: rgb(3, 3, 3);
      position: relative;
      left: 40px;
      border-radius: 5px;
      border: none;
      padding: 5px;
      background-color: rgb(242, 194, 204);
      font-size: 1.2rem;
      font-weight:bolder;
      width: 60%;
      left: 10px;
      width: 200px;
      height: 40px;
    }

    .right-ele button:hover{
        background-color: rgb(231, 171, 184);
    }

    /* Layout2 Section */

    .container2{
        background-color: rgb(255, 226, 232);
        display: flex;
         border-bottom-right-radius: calc((100vw / 10) + 60px);;
         margin: 40px;
    }
       
    .left-ele .lay2-img{
            width: 100%;
            padding: 30px;
    }


    /* Layout3 Section */
    .L3-Container{
        margin: 54px;
        display: flex;
    }
 
    .left-img{
        width: 30vw;
        height: 50vw;
    }

    .right{
        width: 70vw;
    }
    .top{
        width: 100%;
        padding-left: 2vw;
        height: 24vw;
    }
 
    .bottom{
        display: flex;
        padding-left: 2vw;
        height: 25vw;
        padding-top:1.5vw ;
        width: 100%;
    }
 

    .bot-left{
        padding-right: 1vw;
        height: 24vw;
        width: 50%;
   
    }
    
    .bot-right{
        padding-left: 0.4vw;
        height: 24vw;
        width: 50%;
 
    }
